<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{templates.login.html.title}">Login</title>
</head>
<body>
<form method="post" th:action="@{/login}">
    <div>
        <label for="name" th:text="#{common.user.field.email}">Email:</label>
        <input id="name" name="email" type="email">
    </div>
    <div>
        <label for="password" th:text="#{common.user.field.password}">Password:</label>
        <input id="password" name="password" type="password">
    </div>
    <div role="alert" th:if="${param.error}">
        <p th:if="${#arrays.contains(param.error, 'bad_credentials')}"
           th:text="#{templates.login.error}">Invalid email or password!</p>

        <p th:if="${#arrays.contains(param.error, 'locked')}">
            <span th:text="#{templates.login.blocked}">Your account is blocked.</span>
            <br>
            <span th:text="'До: ' + ${#temporals.format(session.bannedUntil, 'yyyy-MM-dd HH:mm')}">
            Until time here
        </span>
        </p>
    </div>
    <div>
        <label for="remember-me">
            <input type="checkbox" id="remember-me" name="remember-me">
            <span th:text="#{templates.login.remember-me}">Remember me</span>
        </label>
    </div>
    <button type="submit" th:text="#{templates.login.submit}">Login</button>
</form>
<a th:href="@{/registration}" th:text="#{templates.login.registration.link}">Don't have account?</a>
</body>
</html>