<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title th:text="${updateUserRequest.username}">Edit</title>
    <link rel="stylesheet" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <link rel="stylesheet" th:href="@{/static/css/user-edit.css}">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main>
    <form class="edit-form" method="post" th:object="${updateUserRequest}" th:action="@{/users/me/edit}" enctype='multipart/form-data'>
        <div>
            <img id="avatarPreview" class="avatar" th:src="${avatarUrl}" alt="Avatar"/>
            <label for="avatar" th:text="#{templates.user-edit.new-avatar}"></label>
            <input type="file" id="avatar" th:field="*{avatar}">
            <button class="reset-avatar-button" type="button" th:text="#{templates.user-edit.reset-avatar}" onclick="resetAvatar()">Reset avatar
            </button>
            <p th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}"></p>
        </div>
        <div>
            <label th:text="#{common.user.field.username}" for="username">Username</label>
            <input type="text" id="username" th:field="*{username}">
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>
        <div>
            <label for="dateOfBirth" th:text="#{templates.user-edit.new-date-of-birth}"></label>
            <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}">
            <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
        </div>
        <div>
            <label for="location" th:text="#{templates.user-edit.new-location}"></label>
            <input type="text" id="location" th:field="*{location}">
            <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
        </div>
        <div>
            <p th:text="#{templates.user-edit.technology-stack}"></p>
            <div th:each="i : ${#numbers.sequence(0, 9)}">
                <label th:for="'technologyStack' + ${i}" th:text="'Technology ' + ${i}"></label>
                <input type="text" th:id="'technologyStack' + ${i}" th:field="*{technologyStack[__${i}__]}"/>
                <p th:if="${#fields.hasErrors('technologyStack[__${i}__]')}"
                   th:errors="*{technologyStack[__${i}__]}"></p>
                <br/>
            </div>
        </div>
        <div>
            <p th:text="#{templates.user-edit.social-media}"></p>
            <div th:each="i : ${#numbers.sequence(0, 4)}">
                <label th:for="'linksToMedia' + ${i}" th:text="'Social Media ' + ${i}"></label>
                <input type="text" th:id="'linksToMedia' + ${i}" th:field="*{linksToMedia[__${i}__]}"/>
                <p th:if="${#fields.hasErrors('linksToMedia[__${i}__]')}" th:errors="*{linksToMedia[__${i}__]}"></p>
                <br/>
            </div>
        </div>
        <button class="submit-button" th:text="#{templates.user-edit.submit}" type="submit">Edit</button>
    </form>
</main>
<script th:inline="javascript">
    const avatarInput = document.getElementById('avatar');
    const avatarPreview = document.getElementById('avatarPreview');

    (async () => {
        const dataTransfer = new DataTransfer()
        const avatarUrl = /*[[${avatarUrl}]]*/ "";
        const response = await fetch(avatarUrl);
        const blob = await response.blob();
        const file = new File([blob], "image.jpg", {type: blob.type});
        dataTransfer.items.add(file)
        avatarInput.files = dataTransfer.files
    })()

    avatarInput.onchange = () => {
        const [file] = avatarInput.files
        if (file) {
            avatarPreview.src = URL.createObjectURL(file)
        }
    }

    const resetAvatar = () => {
        avatarInput.value = ''
        avatarPreview.src = '/static/default-avatar.jpg'
    };
</script>
</body>
</html>