<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username}">Users</title>
</head>
<body>
<h1 th:text="*{user.username}"></h1>
<div>
    <h2 th:text="#{templates.user.information}">Information about</h2>
    <h3 th:text="#{templates.user.avatar}">Avatar</h3>
    <img th:src="${user.avatarUrl}" alt="Avatar"/>
    <hr>
    <p><span th:text="#{common.user.since}"></span> <span th:text="*{user.createdAt}">createdAt</span></p>
    <p><span th:if="${user.dateOfBirth != null}" th:text="#{common.user.date-of-birth}"></span> <span th:text="*{user.dateOfBirth}">dateOfBirth</span></p>
    <p><span th:if="${user.location != null and !user.location.isEmpty()}" th:text="#{common.user.location}"></span> <span th:text="*{user.location}">location</span></p>

    <p th:if="${user.technologyStack == null or user.technologyStack.isEmpty()}" th:text="#{templates.user.technology-stack-empty}"></p>
    <p th:if="${user.technologyStack != null and !user.technologyStack.isEmpty()}" th:text="#{common.user.technology-stack}">technologyStack</p>
    <ul th:if="${user.technologyStack != null and !user.technologyStack.isEmpty()}">
        <li th:each="tech : ${user.technologyStack}" th:text="${tech}">technologyStack</li>
    </ul>

    <p th:if="${user.linksToMedia == null or user.linksToMedia.isEmpty()}" th:text="#{templates.user.social-media-empty}"></p>
    <p th:if="${user.linksToMedia != null and !user.linksToMedia.isEmpty()}" th:text="#{common.user.social-media}">linksToMedia</p>
    <ul th:if="${user.linksToMedia != null and !user.linksToMedia.isEmpty()}">
        <li th:each="link : ${user.linksToMedia}">
            <a th:href="${link}" th:text="${link}" target="_blank">linksToMedia</a>
        </li>
    </ul>

    <p> <span th:text="#{common.user.field.username}">Username</span>: <span th:text="${user.username}">username</span></p>

    <a th:text="#{templates.user.edit}" th:if="${showEditButton}" th:href="@{/users/me/edit}">Edit profile</a>
    <a th:text="#{templates.user.create-post}" th:href="@{/posts/create-post}">Create post</a>
</div>
</body>
</html>