<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
</head>
<body>
<form method="post" th:action="@{/posts/create-post}" th:object="${createPostRequest}">
    <div>
        <label th:text="#{templates.create-post.title}" for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}"/>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    </div>
    <div>
        <label th:text="#{templates.create-post.content}" for="content">Content:</label>
        <textarea id="content" th:field="*{content}"></textarea>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
    </div>
    <button type="submit" th:text="#{templates.create-post.submit}">Submit</button>
</form>
<a th:href="@{/users/me}" th:text="#{templates.create-post.back}">Back to Profile</a>
</body>
</html>