<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
</head>
<body>
<form method="post" th:object="${updatePostRequest}" th:action="@{/posts/{postId}/edit-post(postId = ${postId})}">
    <div>
        <label th:text="#{templates.edit-post.title}" for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}"/>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    </div>
    <div>
        <label th:type="#{templates.edit-post.content}" for="content">Content:</label>
        <input type="text" id="content" th:field="*{content}"/>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>

    </div>
    <button type="submit" th:text="#{templates.edit-post.submit}">Submit</button>
</form>
<a th:href="@{/posts/{postId}(postId = ${postId})}" th:text="#{templates.edit-post.back}">Back to Post</a>
</body>
</html>