<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${user}" th:action="@{/users/me/edit}" enctype="multipart/form-data">
    <div>
        <label for="avatar">New avatar:</label>
        <input type="file" id="avatar" th:field="*{avatar}">
        <p th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}"></p>
    </div>
    <div>
        <label for="username">New username:</label>
        <input type="text" id="username" th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    </div>
    <div>
        <label for="dateOfBirth">New date of birth:</label>
        <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}">
        <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
    </div>
    <div>
        <label for="location">New location:</label>
        <input type="text" id="location" th:field="*{location}">
        <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
    </div>
    <div>
        <p>Technology stack:</p>
        <label for="technologyStack1"></label>
        <input type="text" id="technologyStack1" th:field="*{technologyStack[0]}">
        <label for="technologyStack2"></label>
        <input type="text" id="technologyStack2" th:field="*{technologyStack[1]}">
        <label for="technologyStack3"></label>
        <input type="text" id="technologyStack3" th:field="*{technologyStack[2]}">
        <label for="technologyStack4"></label>
        <input type="text" id="technologyStack4" th:field="*{technologyStack[3]}">
        <label for="technologyStack5"></label>
        <input type="text" id="technologyStack5" th:field="*{technologyStack[4]}">
        <br>
        <label for="technologyStack6"></label>
        <input type="text" id="technologyStack6" th:field="*{technologyStack[5]}">
        <label for="technologyStack7"></label>
        <input type="text" id="technologyStack7" th:field="*{technologyStack[6]}">
        <label for="technologyStack8"></label>
        <input type="text" id="technologyStack8" th:field="*{technologyStack[7]}">
        <label for="technologyStack9"></label>
        <input type="text" id="technologyStack9" th:field="*{technologyStack[8]}">
        <label for="technologyStack10"></label>
        <input type="text" id="technologyStack10" th:field="*{technologyStack[9]}">

        <p th:each="err : ${#fields.errors('technologyStack')}" th:text="${err}"></p>

    </div>
    <div>
        <p>Social links:</p>
        <label for="linksToMedia1"></label>
        <input type="text" id="linksToMedia1" th:field="*{linksToMedia[0]}">
        <p th:if="${#fields.hasErrors('linksToMedia[0]')}" th:errors="*{linksToMedia[0]}"></p>
        <br>

        <label for="linksToMedia2"></label>
        <input type="text" id="linksToMedia2" th:field="*{linksToMedia[1]}">
        <p th:if="${#fields.hasErrors('linksToMedia[1]')}" th:errors="*{linksToMedia[1]}"></p>
        <br>


        <label for="linksToMedia3"></label>
        <input type="text" id="linksToMedia3" th:field="*{linksToMedia[2]}">
        <p th:if="${#fields.hasErrors('linksToMedia[2]')}" th:errors="*{linksToMedia[2]}"></p>
        <br>

        <label for="linksToMedia4"></label>
        <input type="text" id="linksToMedia4" th:field="*{linksToMedia[3]}">
        <p th:if="${#fields.hasErrors('linksToMedia[3]')}" th:errors="*{linksToMedia[3]}"></p>
        <br>

        <label for="linksToMedia5"></label>
        <input type="text" id="linksToMedia5" th:field="*{linksToMedia[4]}">
        <p th:if="${#fields.hasErrors('linksToMedia[4]')}" th:errors="*{linksToMedia[4]}"></p>
        <br>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>