<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1 th:text="*{user.username}"></h1>
<div>
    <h2>Information about</h2>
    <hr>
    <p> Username: <span th:text="*{user.username}"></span></p>
    <p> Since: <span th:text="*{user.createdAt}"></span></p>
    <p th:if="${user.dateOfBirth != null}"> Date of birth: <span th:text="*{user.dateOfBirth}"></span></p>
    <p th:if="${user.location != null and !user.location.isEmpty()}"> Location: <span th:text="*{user.location}"></span></p>

    <p th:if="${user.technologyStack == null or user.technologyStack.isEmpty()}">Technology stack is empty</p>
    <p th:if="${user.technologyStack != null and !user.technologyStack.isEmpty()}">Technology stack:</p>
    <ul th:unless="${user.technologyStack == null or user.technologyStack.isEmpty()}">
        <li th:each="tech : ${user.technologyStack}" th:text="${tech}"></li>
    </ul>

    <p th:if="${user.linksToMedia == null or user.linksToMedia.isEmpty()}">Social media links are empty</p>
    <p th:if="${user.linksToMedia != null and !user.linksToMedia.isEmpty()}">Social media links:</p>
    <ul th:unless="${user.linksToMedia == null or user.linksToMedia.isEmpty()}">
        <li th:each="link : ${user.linksToMedia}">
            <a th:href="${link}" th:text="${link}" target="_blank"></a>
        </li>
    </ul>


    <a th:if="${currentUsername == user.username}" th:href="@{/users/me/edit}">Edit profile</a>
</div>
</body>
</html>