<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username}">Edit</title>
</head>
<body>
<form method="post" th:object="${user}" th:action="@{/users/me/edit}">
    <div>
        <label th:text="#{common.user.field.username}" for="username">Username</label>:
        <input type="text" id="username" th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    </div>
    <button th:text="#{templates.user-edit.submit}" type="submit">Edit</button>
</form>
</body>
</html>